.App {
  text-align: center;
  background: rgb(101,101,101);
  background: linear-gradient(153deg, rgba(101,101,101,1) 0%, rgba(69,69,69,1) 80%, rgba(34,34,34,1) 100%);
  min-height: 100vh;

}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, button {
  font-family: 'Playfair Display', serif;
  font-weight: 600; /* Semi-bold */
}

p {
  font-family: 'Roboto', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.letter-spacing {
  letter-spacing: 0.7em !important;
}


